.cuerpo{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

form{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding:  35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;

}

form h2{
    font-size: 35px;
    color: black;
    margin: 0;
}

form p{
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 35px;

}

.input-wrapper{
    position: relative;
    width: 305px;
    margin-bottom: 35px;

}

input{
    color: #0d0d0d;
    padding: 20px 15px 20px 60px;
    width: 100%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 15px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;

}

input::placeholder{
    font-size: 16px;
    color: #bbbbe3;
}

.input-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-55%);

}
.btn{
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgb(98, 63, 255) 25%,
        rgb(33, 19, 192) 100%
    );
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(153, 47, 252);
}


